{
  "$schema": "vendor/infection/infection/resources/schema.json",
  "source": {
    "directories": ["src"]
  },
  "testFramework": "testo",
  "threads": "max",
  "tmpDir": "runtime",
  "minCoveredMsi": 99,
  "mutators": {
    "@default": true
  },
  "logs": {
    "text": "runtime/logs/infection.log",
    "stryker": {
      "report": "/^.*$/"
    }
  }
}
